@model KingsCafe.Models.tblOrderPurchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblOrderPurchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORDER_PURCHASE_DATE_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDER_PURCHASE_DATE_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblWorker.WORKER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblWorker.WORKER_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ORDER_PURCHASE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
