@model IEnumerable<KingsCafe.Models.tblIngredient>

@{
    ViewBag.Title = "AllIngredients";
}

<h2>All Ingredients</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INGREDIENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGREDIENT_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGREDIENT_UNIT_PRICE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.INGREDIENT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INGREDIENT_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INGREDIENT_UNIT_PRICE)
            </td>
            <td>
                <button type="button" id="@item.INGREDIENT_ID" name="@item.INGREDIENT_NAME" class="btn btn-primary" onclick="Addtocart(this)" data-target="#exampleModal">Open modal for</button>

            </td>
        </tr>
    }

</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Quantity</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Product Name:</label>
                        <input type="hidden" class="form-control" id="proid">
                        <input type="text" class="form-control" readonly id="proname">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Quantity:</label>
                        <input class="form-control" type="number" min="1" name="qty" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function Addtocart(obj) {
        var id = obj.id;
        var name = obj.name;

        $("#proid").val(id);
        $("#proname").val(name);
        $("#exampleModal").modal()
    }
</script>

