@model KingsCafe.Models.tblIngredientLinking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblIngredientLinking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INGREDIENT_LINKING_QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGREDIENT_LINKING_QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFoodProduct.FOOD_PRODUCTS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFoodProduct.FOOD_PRODUCTS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIngredient.INGREDIENT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIngredient.INGREDIENT_NAME)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","tblIngredientLinking" , new { id=Model.INGREDIENT_LINKING_ID })" class="btn btn-primary glyphicon glyphicon-edit"> </a>
    <a href="@Url.Action("Index","tblIngredientLinking" , new { id=Model.INGREDIENT_LINKING_ID })" class="btn btn-primary glyphicon glyphicon-backward"> </a>


</p>
